p {
    margin: 0px 15px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
}

.grid-item {
    margin: auto;
}

.pageTitle {
    padding-top: 40px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.flex {
    display: flex;
    justify-content: center;
}

#inputSearchBreed {
    width: 300px;
}

.titleImage {
    width: 60px;
}

.footer {
    width: 100%;
    padding: 50px;
    text-align: center;
}

.content {
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 10px;
}

.sectionDescription {
    margin: 20px 0px;
}

.searchMargin {
    margin: 10px;
}

.bg {
    background-color: #8e480080;
}

/* Masonry */
*,
*:before,
*:after {
  box-sizing: inherit;
}

.image-gallery {
  column-gap: 1em;
  margin-top: 30px;
}

.image {
  margin: 0 0 1.5em;
  display: inline-block;
  width: 100%;
}

.image img {
  width: 100%;
}

